/* changed the font, color of text,background color,width and font size*/
body{
     font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
     color: #777;
     background: #777;
     width: 960px;
     font-size: 18px}

header nav section aside footer {
        background: #ebebeb;
        width: 495px;
    }
    header{float: top
    }

    article {
    color: #ebebeb;
    background: #777;
    width: 495px;
    float: left;}


footer{float: bottom;
align-content: center;}

